<table>
	<thead>
		<tr ng-show="search" class="_head_search">
			<th colspan="{{searchColspan}}">
				<input type="search" placeholder="{{'search'|translate}}..."
				ng-model="searchCad" ng-change="onChangeSearch()"
				style="width: 100%"
				class="form-control"></input>
			</th>
		<tr>
		<tr class="ilTable_head_titles">
			<th ng-show="select">
				<input type="checkbox" ng-model="allSelected" ng-change="_onSelectAll()">
				{{selectLabel|translate}}
			</th>
			<th ng-if="expand">
				{{expandLabel|translate}}
			</th>
			<th ng-repeat="column in columns" ng-click="changeOrder(column)" style="cursor:pointer" class="ilTable_th_field_{{column.field}}">
				{{column.title|translate}} 
				<span class="glyphicon glyphicon-triangle-bottom" ng-show="orderBy.column==column && !orderBy.reverse"></span>
				<span class="glyphicon glyphicon-triangle-top" ng-show="orderBy.column==column && orderBy.reverse"></span>
			</th>
			<th>
				{{operationsLabel|translate}}
			</th>
		</tr>
		
	</thead>
	<tbody>
		<tr ng-repeat-start="item in results=(model | filter:searchFilter) | orderBy:orderByFilter:orderBy.reverse | ilTableSlice : pagination_desp : itemsPerPage " ng-hide="rowItemEdit==item" ng-class="{'ilTable_tr_selected':item[visual].selected && (select||selectOnClick), 'ilTable_tr_noEditing':rowItemEdit!=undefined && rowItemEdit!=item}" ng-click="_onClickItem(item)">
			<td ng-if="select" style="vertical-align: middle">
				<input type="checkbox" ng-model="item[visual].selected" ng-change="_onSelect(item)"/>
			</td>
			<td ng-if="expand" style="vertical-align: middle">
				<span class="glyphicon glyphicon-triangle-right" ng-hide="item[visual].expand" ng-click="_onExpand(item)" style="cursor: pointer"></span>
				<span class=" glyphicon glyphicon-triangle-bottom" ng-show="item[visual].expand" ng-click="_onExpand(item)" style="cursor: pointer"></span>
			</td>
			
			<td ng-repeat="column in columns" style="cursor:pointer;vertical-align: middle" ng-click="clickToEdit&&editRow(item)" class="ilTable_td_field_{{column.field}}">
				<span ng-if="getType(column)=='text'">{{item[column.field]}}</span>
				<span ng-if="getType(column)=='textarea'">{{item[column.field]}}</span>
				
				<span ng-if="getType(column)=='boolean'">
					<span ng-if="checkBoolean(item,column) && column.options.true_html" ng-bind-html="column.options.true_html"></span>
					<span ng-if="!checkBoolean(item,column) && column.options.false_html" ng-bind-html="column.options.false_html"></span>
					<span ng-if="checkBoolean(item,column) && !column.options.true_html">{{'yes'|translate}}</span>
					<span ng-if="!checkBoolean(item,column) && !column.options.false_html">{{'no'|translate}}</span>
				</span>
				<span ng-if="getType(column)=='select-object'||getType(column)=='autocomplete-object'">{{item[column.field][column.options.field]|translate}}</span>
				<span ng-if="getType(column)=='select'||getType(column)=='autocomplete'">{{getValue(item,column)|translate}}</span>
				<div ng-if="getType(column)=='html'" ng-bind-html="item[column.field] | ilTableSanitice"></div>
				<div ng-if="getType(column)=='template'" ng-include="column.options.url"></div>
				<div ng-if="getType(column)=='func'" ng-bind-html="column.func(item) | ilTableSanitice"></div>
			</td>
			<td nowrap class="ilTable_td_operations" style="vertical-align: middle" nowrap>
				<span class="glyphicon glyphicon-pencil" ng-if="editable" ng-click="editRow(item)" style="cursor:pointer; padding-right: 0.5em" aria-hidden="true"></span>
				<span class="glyphicon glyphicon-trash" ng-if="delete" ng-click="_onDelete(item)" style="cursor:pointer; padding-right: 0.5em" aria-hidden="true"></span>
				<span ng-repeat="button in extraButtons" class="glyphicon {{button.class}}" ng-click="_onExtraButton(item,button)" style="cursor:pointer; padding-right: 0.5em" aria-hidden="true"></span>
			</td>
		</tr>
		
		<tr ng-if="editable" ng-show="rowItemEdit==item" class="ilTable_tr_editing" ng-class="{'ilTable_tr_selected':item[visual].selected}">
			<td ng-if="select" style="vertical-align: middle">
				<input type="checkbox" ng-model="item[visual].selected" ng-change="_onSelect(item)"/>
			</td>
			
			<td ng-if="expand" style="vertical-align: middle">
				<span class="glyphicon glyphicon-triangle-right" ng-hide="item[visual].expand" ng-click="_onExpand(item)" style="cursor: pointer"></span>
				<span class=" glyphicon glyphicon-triangle-bottom" ng-show="item[visual].expand" ng-click="_onExpand(item)" style="cursor: pointer"></span>
			</td>

			
			<td ng-repeat="column in columns" class="ilTable_td_field ilTable_td_editing ilTable_td_field_{{column.field}}">
				<span class="ilTable_edit_readonly ilTable_edit_readonly_text"ng-if="column.readonly && getType(column)=='text'">{{item[column.field]}}</span>
				<span class="ilTable_edit_readonly ilTable_edit_readonly_select" ng-if="column.readonly && getType(column)=='select-object'">{{item[column.field][column.options.field]}}</span>
				<span class="ilTable_edit_readonly ilTable_readonly_boolean" ng-if="column.readonly && getType(column)=='boolean'" ng-class="{'glyphicon glyphicon-check':checkBoolean(item,column), 'glyphicon glyphicon-unchecked':!checkBoolean(item,column)}"></span>
				
				<input
					ng-if="_if(item,column,'text')"
					class="form-control ilTable_edit ilTable_edit_text" 
					type="text" 
					ng-model="editedObject[column.field]" 
					style="width: 100%; padding: 0px" 
					ng-change="_onChange(editedObject,column)"></input>
				
				<textarea 
					ng-if="_if(item,column,'textarea')"
					class="form-control ilTable_edit ilTable_edit_textarea" 
					ng-model="editedObject[column.field]" 
					ng-change="_onChange(editedObject,column)" 
					style="width: 100%; padding: 0px"></textarea>
				
				<select 
					ng-if="_if(item,column,'select-object')"
					class="form-control ilTable_edit ilTable_edit_select" 
					type="text"  
					ng-model="editedObject[column.field]" 
					ng-options="selectItem as selectItem[column.options.field]|translate for selectItem in column.options.list"  style="width: 100%; padding: 0px"  
					ng-change="_onChange(editedObject,column)"></select>
				
				<input 
					ng-if="_if(item,column,'autocomplete-object')"
					class="form-control ilTable_edit ilTable_edit_autocomplete"
					type="text"   
					ng-model="editedObject[column.field]"
					typeahead="selectItem as selectItem[column.options.field]|translate for selectItem in column.options.list | filter:_autocompleteFilter(column,$viewValue)"
					class="form-control"
					typeahead-editable="false"
					typeahead-on-select="_onChange(editedObject,column)" 
					style="width: 100%; padding: 0px" >
					
				<select
					ng-if="_if(item,column,'select')"
					class="form-control ilTable_edit ilTable_edit_select" 
					type="text" 
					ng-model="editedObject[column.field]" 
					ng-options="selectItem.value as selectItem.label|translate for selectItem in column.options.list" 
					style="width: 100%; padding: 0px"  
					ng-change="_onChange(editedObject,column)"></select>
				
				
				<input 
					ng-if="_if(item,column,'autocomplete')"
					class="ilTable_edit ilTable_edit_autocomplete"
					type="text"
					ng-model="editedObject[column.field]" 
					typeahead="selectItem as selectItem.label|translate for selectItem in column.options.list | filter:_autocompleteFilter(column,$viewValue)"
					class="form-control"
					typeahead-editable="false"
					typeahead-on-select="_onTypeheadSelect($item, $model, $label,editedObject,column)" 
					typeahead-input-formatter="autocompleteFormat(editedObject,$model,column)"
					placeholder="{{autocompleteFormat(editedObject,undefined,column)}}" 
					style="width: 100%; padding: 0px">
					
				<span ng-if="_if(item,column,'boolean')" class="ilTable_edit ilTable_edit_boolean">
					<span 
						ng-if="checkBoolean(editedObject,column) && column.options.true_html" 
						ng-bind-html="column.options.true_html" 
						ng-click="toggleBoolean(editedObject,column)" 
						style="cursor: pointer"></span>
					
					<span 
						ng-if="!checkBoolean(editedObject,column) && column.options.false_html" 
						ng-bind-html="column.options.false_html" 
						ng-click="toggleBoolean(editedObject,column)" 
						style="cursor: pointer"></span>
					
					<span 
						ng-if="checkBoolean(editedObject,column) && !column.options.true_html" 
						ng-click="toggleBoolean(editedObject,column)" 
						style="cursor: pointer">{{'yes'|translate}}</span>
						
					<span 
						ng-if="!checkBoolean(editedObject,column) && !column.options.false_html" 
						ng-click="toggleBoolean(editedObject,column)" 
						style="cursor: pointer">{{'no'|translate}}</span>
				</span>
				
				<div 
					ng-if="_if(item,column,'html')" 
					class="ilTable_edit ilTable_edit_html" 
					ng-bind-html="editedObject[column.field] | ilTableSanitice"></div>
					
				<div 
					ng-if="_if(item,column,'template')" 
					class="ilTable_edit ilTable_edit_template" 
					ng-include="column.options.url"></div>
					
				<div
					ng-if="_if(item,column,'func')"
					class="ilTable_edit ilTable_edit_func"
					ng-bind-html="column.func(item) | ilTableSanitice"></div>
			</td>
			
			<td nowrap class="ilTable_td_operations" style="vertical-align: middle">
				<span class="glyphicon glyphicon-ok ilTable_edit_ok" ng-click="editRow(undefined,true)" style="cursor:pointer;padding-right: 0.5em" aria-hidden="true"></span>
		        <span class="glyphicon glyphicon-remove ilTable_edit_cancel" ng-click="editRow(undefined)" style="cursor:pointer" aria-hidden="true"></span>
			</td>
		</tr>
		
		<tr ng-if="expand" ng-show="item[visual].expand" style="background-color: white !important" class="_expand_tr">
			<td colspan="{{searchColspan}}" ng-include="expandTemplate" class="_expand_td">
			</td>
		</tr>
		
		<tr ng-if="expand">
		</tr>
		
		<tr ng-repeat-end></tr>
		
		<tr ng-if="expand" ng-show="item[visual].expand" style="background-color: white !important" class="_expand_tr">
			<td colspan="{{searchColspan}}" ng-include="expandTemplate" class="_expand_td">
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr ng-if="footer">
			<td colspan="{{searchColspan}}">
				<div class="idTable_footer_element ilTable_footer_results" ng-hide="results.length==0">{{results.length}} {{'Results'|translate}}</div>
				<div class="idTable_footer_element ilTable_footer_results" ng-show="results.length==0">{{'No results'|translate}}</div>
				<div class="idTable_footer_element ilTable_footer_itemsPerPage" ng-if="itemsPerPageOptions">
					{{'Items per page'|translate}}
					<span class="dropdown" dropdown on-toggle="toggled(open)">
						<a href class="dropdown-toggle" dropdown-toggle>
							{{itemsPerPage}}
						</a>
						<ul class="dropdown-menu">
							<li ng-repeat="choice in itemsPerPageOptions">
								<a ng-click="_changeItemsPerPage(choice)">{{choice}}</a>
							</li>
						</ul>
					</span>
				</div>
				<div ng-if="extraFooterTemplate" class="idTable_footer_element idTable_footer_extra" ng-include="extraFooterTemplate"></div>
				<div style="clear:both"></div>
			</td>
		</tr>
		<tr style="background-color: white" ng-show="itemsPerPage && (paginationVisible||showPagination)">
			<td colspan="{{searchColspan}}" style="text-align: center; padding:0px">
				<pagination total-items="results.length" items-per-page="itemsPerPage" ng-model="pagination_page" max-size="10" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
			</td>
		</tr>
	</tfoot>
	
</table>