<!DOCTYPE html>
<html class="bg">
	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, target-densitydpi=device-dpi" />
		<meta name="msapplication-tap-highlight" content="no" />
		<title>test ilAdvancedCombo</title>
		
		<!-- Angular -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/i18n/angular-locale_es-es.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.6.1/angular-translate.min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>		
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"/>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment-with-locales.min.js"></script>
		
		<script type="text/javascript" src="../dist/ilTable.min.js"></script>
		<script type="text/javascript" src="../dist/ilDetail.min.js"></script>
		<script type="text/javascript" src="../dist/ilModal.min.js"></script>
		<script type="text/javascript" src="../dist/ilAdvancedCombo.min.js"></script>
		<script type="text/javascript" src="../dist/ilInput.min.js"></script>

		<script>
			var app = angular.module('app', ['ui.bootstrap','ngSanitize','pascalprecht.translate','il.ui.table','il.ui.modal','il.ui.advancedCombo','il.ui.input']);
			var mc;

			app.controller("MainController", function($rootScope,$scope,$timeout,$http,$q){
				mc=this;
				this.$rootScope=$rootScope;
				this.$scope=$scope;
				this.$timeout=$timeout;
				this.$http=$http;
				this.$q=$q;

				this.columns=[
					{
						title:"Name",
						field:"name",
						required:true
					},
					{
						title:"Lastname",
						field:"lastname"
					},
					{
						title:"Complete name",
						type:"func",
						func:function(item){
			                return item.name+" "+item.lastname;
			            }
					}
				];

				this.items=[];
				
				for (var i=0; i<100; i++)
					this.items.push({name:"name "+i,lastname:"lastname "+i});
					
				
				
				this.edit=true;
				
				this.verify=function(model,value){
					console.debug("Verify",model,value);
					return true;
				}
				
				this.onVerify=function(valid,model,value){
					console.debug("Verify?",valid,model,value);
				}
				
				this.verifyTime=function(model,value){
					console.debug("Verify",model,value);
					return value.h<12;
				}
				
				this.pets=[
					{label:"Cat",value:"cat"},
					{label:"Dog",value:"dog"}
				]
				
				this.addPet=function(){
					this.pets.push({label:'other',value:'other'});
				}
				
				this.values=[];
				for(i=0;i<100;i++)
					this.values.push(i);
				
				this.model={
					number:"3",
					date:new Date(),
					pet:this.pets[1]
				}
			});
		</script>
	</head>
	
	
	<body ng-app="app" ng-controller="MainController as mc" class="bg" style="padding: 2em">
		<table class="table">
			<tr>
				<td>
					<il-input
						model="mc.model"
						field="'number'"
						only-text="mc.edit"
						label="'Text not empty'"
						required="true"
						verify-fnc="mc.verify(model,value)"
						on-verify="mc.onVerify(valid,model,value); mc.validated1=valid"
						
					>	
					</il-input>
				</td>
				<td>
					<il-input
						model="mc.model"
						field="'date'"
						type="'time'"
						label="'Time'"
						only-text="mc.edit"
						verify-fnc="mc.verifyTime(model,value)"
						inner-awesome-icon="'clock-o'"
						time-seconds="true"
					>	
					</il-input>
				</td>
				<td>
					<il-input
						model="mc.model"
						field="'pet'"
						type="'select'"
						label="'Select an pet (Object)'"
						only-text="mc.edit"
						verify-fnc="mc.verify(model,value)"
						inner-awesome-icon="'paw'"
						required="true"
						
						select-options="mc.pets"
						select-label-field="label"
						select-label-fnc="item.label+' ('+model.number+')'"
					>	
					</il-input>
					<!-- select-value-field="'value'"-->
				</td>
				
				<td>
					<il-input
						model="mc.model"
						field="'minutes'"
						type="'select'"
						label="'Select a value'"
						only-text="mc.edit"
						inner-awesome-icon="'male'"
						required="true"
						
						select-options="mc.values"
					>	
					</il-input>
				</td>
				
				<td>
					<il-input
						model="mc.model"
						field="'date'"
						type="'date'"
						label="'Select a date'"
						only-text="mc.edit"
						required="true"
						date-locale="'es'"
						inner-awesome-icon="'calendar'"
					>	
					</il-input>
				</td>
				<td>
					
					<il-input
						model="mc.model"
						field="'date'"
						type="'dateTime'"
						label="'Select a date and time'"
						only-text="mc.edit"
						required="true"
						date-locale="'es'"
						inner-awesome-icon="'calendar'"
					>	
					</il-input>
				</td>
			</tr>
		</table>
		<il-input
			model="mc.model"
			field="'number'"
			only-text="mc.edit"
			label="'Only integer numbers'"
			required="true"
			text-verify-int="true"
			verify-fnc="mc.verify(model,value)"
			on-verify="mc.onVerify(valid,model,value); mc.validated1=valid"
			
		>	
		</il-input>
		<il-input
			model="mc.model"
			field="'number'"
			only-text="mc.edit"
			label="'Only decimal numbers'"
			required="true"
			text-verify-float="true"
			verify-fnc="mc.verify(model,value)"
			on-verify="mc.onVerify(valid,model,value); mc.validated1=valid"
			
		>	
		</il-input>
		<il-input
			model="mc.model"
			field="'boolean'"
			type="'boolean'"
			label="'Boolean'"
			only-text="mc.edit"
			boolean-true-html="'<span class=\'label label-success\'>Yes, of course</span>'"
			boolean-false-html="'<span class=\'label label-danger\'>No</span>'"
			verify-show="false"
			hide-border="true"
		>	
		</il-input>
		Validated this? {{mc.validated1}}
		<br>
		{{mc.model}}
		<br>
		<button class="btn" ng-click="mc.edit=true">Edit</button>
		<button class="btn" ng-click="mc.edit=false">No Edit</button>
		<button class="btn" ng-click="mc.addPet()">Add pet</button>
	</body>
</html>