<div>
	<div ng-repeat="section in model.sections" ng-if="currentSection==section">
		<div class="alert alert-info" role="alert">
			<h2 ng-bind-html="section.title"></h2>
			<p ng-if="section.description" ng-bind-html="section.description" style="font-style: italic;">
				
			</p>
		</div>
		
		<div class="panel" ng-class={'panel-success':checkQuestion(question),'panel-default':checkQuestionDefault(question),'panel-danger':checkQuestionError(question)} ng-repeat="question in section.questions">
			<div class="panel-heading">
				<p ng-bind-html="question.title"></p>
				<p ng-if="question.description " ng-bind-html="question.description"  style="font-style: italic;">
				</p>
			</div>
			<div class="panel-body">
				
				<div ng-if="question.type=='select'">
					<div ng-repeat="option in question.options">
						<div><input type="radio" name="question_{{question.uid}}" value="{{option.value}}" ng-model="result[question.uid].value"> {{option.title}}</div>
						<div ng-if="option.comments && result[question.uid].value==option.value" style="margin: 0.6em 1.2em">
							
							<textarea ng-if="!option.commentsRows || option.commentsRows>1" placeholder="{{option.commentsPlaceholder}}" style="width: 100%" ng-model="result[question.uid].comments" rows="{{option.commentsRows||4}}"></textarea>
							
							<input ng-if="option.commentsRows==1" placeholder="{{option.commentsPlaceholder}}" style="width: 100%" ng-model="result[question.uid].optionComments">
						</div>
					</div>
				</div>
				
				<div ng-if="question.type=='multiselect'">
					<div ng-repeat="option in question.options">
						<div><input type="checkbox" name="question_{{question.uid}}" value="{{option.value}}" ng-model="result[question.uid][option.value].value"> {{option.title}}</div>
						<div ng-if="option.comments && result[question.uid][option.value].value" style="margin: 0.6em 1.2em">
							<textarea placeholder="{{option.commentsPlaceholder}}" style="width: 100%" ng-model="result[question.uid][option.value].comments" rows="4"></textarea>
						</div>
					</div>
				</div>
				
				<div ng-if="question.type=='text'">
					
					<textarea ng-if="!question.rows || question.rows>1" placeholder="{{question.placeholder}}" style="width: 100%" ng-model="result[question.uid].value" rows="{{question.rows||4}}"></textarea>
					
					<input ng-if="question.rows && question.rows==1" placeholder="{{question.placeholder}}" style="width: 100%" ng-model="result[question.uid].value">
				</div>
				<div ng-if="question.comments" style="margin: 0.6em 0em">
					<textarea ng-if="!question.commentsRows || question.commentsRows>1" placeholder="{{question.commentsPlaceholder}}" style="width: 100%" ng-model="result[question.uid].questionComments" rows="{{question.commentsRows||4}}"></textarea>
					
					<input ng-if="question.commentsRows==1" placeholder="{{question.commentsPlaceholder}}" style="width: 100%" ng-model="result[question.uid].questionComments">
				</div>
			</div>
		</div>

		<div style="text-align: center">
			<button class="btn btn-primary" ng-if="!isFirstSection()" ng-click="goPreviousSection()"><span class="glyphicon glyphicon-chevron-left"></span> {{'Previous'|translate}}</button>
			<button class="btn" ng-if="!isLastSection()" ng-class="{'btn-primary':checSection(section)}" ng-disabled="!checSection(section)" ng-click="goNextSection()">{{'Next'|translate}} <span class="glyphicon glyphicon-chevron-right"></span></button>
			<button class="btn" ng-if="isLastSection()" ng-class="{'btn-primary':checSection(section)}" ng-disabled="!checSection(section)" ng-click="send()">{{'Finish'|translate}} <span class="glyphicon glyphicon-send"></span></button>
		</div>	
	</div>
</div>