<div>
	<div ng-repeat="section in model.sections" ng-if="currentSection==section">
		<div class="alert alert-info" role="alert">
			<h2>{{section.title}}</h2>
			<p ng-if="section.description">
				{{section.description}}
			</p>
		</div>
		
		<div class="panel" ng-class={'panel-success':checkQuestion(question),'panel-default':!checkQuestion(question)} ng-repeat="question in section.questions">
			<div class="panel-heading">{{question.title}}
				<p ng-if="question.description">
					<i>{{question.description}}</i>
				</p>
			</div>
			<div class="panel-body">
				<div ng-if="question.type=='select'">
					<div ng-repeat="option in question.options">
						<div><input type="radio" name="question_{{question.uid}}" value="{{option.value}}" ng-model="result[question.uid].value"> {{option.title}}</div>
						<div ng-if="option.comments && result[question.uid].value==option.value" style="margin: 0.6em 1.2em">
							<textarea placeholder="{{option.commentsPlaceholder}}" style="width: 100%" ng-model="result[question.uid].comments" rows="4"></textarea>
						</div>
					</div>
				</div>
				<div ng-if="question.type=='multiselect'">
					<div ng-repeat="option in question.options">
						<div><input type="checkbox" name="question_{{question.uid}}" value="{{option.value}}" ng-model="result[question.uid][option.value].value"> {{option.title}}</div>
						<div ng-if="option.comments && result[question.uid][option.value].value" style="margin: 0.6em 1.2em">
							<textarea placeholder="{{option.commentsPlaceholder}}" style="width: 100%" ng-model="result[question.uid][option.value].comments" rows="4"></textarea>
						</div>
					</div>
				</div>
				<div ng-if="question.type=='text'">
					<textarea placeholder="{{question.placeholder}}" style="width: 100%" ng-model="result[question.uid].value" rows="4"></textarea>
				</div>
				<div ng-if="question.comments" style="margin: 0.6em 0em">
					<textarea placeholder="{{question.commentsPlaceholder}}" style="width: 100%" ng-model="result[question.uid].questionComments" rows="4"></textarea>
				</div>
			</div>
		</div>

		<div style="text-align: center">
			<button class="btn btn-primary" ng-if="!isFirstSection()" ng-click="goPreviousSection()"><span class="glyphicon glyphicon-chevron-left"></span> {{'Previous'|translate}}</button>
			<button class="btn" ng-if="!isLastSection()" ng-class="{'btn-primary':checSection(section)}" ng-disabled="!checSection(section)" ng-click="goNextSection()">{{'Next'|translate}} <span class="glyphicon glyphicon-chevron-right"></span></button>
			<button class="btn" ng-if="isLastSection()" ng-class="{'btn-primary':checSection(section)}" ng-disabled="!checSection(section)" ng-click="send()">{{'Finish'|translate}} <span class="glyphicon glyphicon-send"></span></button>
		</div>	
	</div>
</div>