<div ng-if="onlyText" ng-click="clickToEdit()" style="cursor:pointer">
	<div ng-if="type=='time'">
		<span ng-if="!timeSeconds">{{model[field]|date:'shortTime'}}</span>
		<span ng-if="timeSeconds">{{model[field]|date:'mediumTime'}}</span>
	</div> 
	<div ng-if="type=='date'">
		{{model[field]|date}}
	</div>
	<div ng-if="type=='dateTime'">
		{{model[field]|date:'medium'}}
	</div>
	<div ng-if="type=='boolean'">
		<div ng-if="model[field]==booleanTrue" ng-bind-html="booleanTrueHtml | ilSanitize"></div>
		<div ng-if="model[field]!=booleanTrue" ng-bind-html="booleanFalseHtml | ilSanitize"></div> 
	</div>
	<div ng-if="type=='select'">
		{{_selectLabelFnc(model[field])}}
	</div>
	<div ng-if="type=='text'">
		{{model[field]}}
	</div>
	<div ng-if="type=='password'">
		*********
	</div> 
</div>

<div ng-if="!onlyText" class="form-group has-feedback" ng-class="{'has-success':_validated, 'has-error':!_validated}"> 
	<label ng-if="label" class="control-label">{{label}}</label> 
	
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" ng-if="innerLabel">{{innerLabel}}</span> 
		<span class="input-group-addon" ng-if="innerIcon">
			<span class="glyphicon glyphicon-{{innerIcon}}"></span>
		</span> 
		<span class="input-group-addon" ng-if="innerAwesomeIcon">
			<span class="fa fa-{{innerAwesomeIcon}}"></span>
		</span> 
		
		<input ng-if="type=='text'" type="text" class="form-control" ng-model="model[field]" ng-change="_onChange()"> 
		<input ng-if="type=='password'" type="password" class="form-control" ng-model="model[field]" ng-change="_onChange()"> 
		
		<div ng-if="type=='time'" class="form-control" ng-click="time_openModal()">
			<span ng-if="!timeSeconds">{{model[field]|date:'shortTime'}}</span>
			<span ng-if="timeSeconds">{{model[field]|date:'mediumTime'}}</span>
		</div> 
		
		<select ng-if="type=='select'" class="form-control" ng-model="model[field]" ng-options="_selectValueFnc(item) as _selectLabelFnc(item) for item in selectOptions" ng-change="_onChange()" style="-webkit-appearance: none; -moz-appearance:none;padding: 0px"></select>
				
		<div ng-if="type=='date'" class="form-control" ng-click="date_openModal()" style="cursor: pointer">
			{{model[field]|date}}
		</div>
		<div ng-if="type=='dateTime'" class="form-control" ng-click="dateTime_openModal()" style="cursor: pointer">
			{{model[field]|date:'medium'}}
		</div>
		<div ng-if="type=='boolean'" class="form-control">
			<div ng-if="model[field]==booleanTrue" ng-click="boolean_tonggle()" style="cursor: pointer" ng-bind-html="booleanTrueHtml | ilSanitize"></div>
		<div ng-if="model[field]!=booleanTrue" ng-click="boolean_tonggle()" style="cursor:pointer" ng-bind-html="booleanFalseHtml | ilSanitize"></div> 
	</div> 

	<span class="glyphicon glyphicon-ok form-control-feedback" ng-if="_validated && undefinedIs('verifyShow',true)" aria-hidden="true"></span> 
	<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="!_validated && undefinedIs('verifyShow',true)" aria-hidden="true"></span> 
				
</div> 

<!-- MODALS --> 

<div ng-if="type=='date'||type=='dateTime'" style="position: relative" ng-show="date_showModal"> 
	<div style="position: absolute; border-color: silver; z-index: {{z}}; left: 0px; right: 0px;" ng-style="modalStyle"> 
		<table class="table table-condensed" style="text-align: center !important; border:1px solid silver"> 
			<tr> 
				<td ng-click="date_previousMonth()" style="cursor: pointer">&lt;</td> 
				<td colspan="5">{{date_getMonth()}} {{date_getYear()}}</td> 
				<td ng-click="date_nextMonth()" style="cursor: pointer">&gt;</td> 
			</tr> 
			<tr> 
				<td ng-repeat="day in days">{{day}}</td> 
			</tr> 
			<tr ng-repeat="w in weeks"> 
				<td ng-repeat="d in w" style="cursor: pointer" ng-click="date_selectDate(d)"> 
					<span style="color:gray" ng-if="!d.selected">{{d.label}}</span> 
					<span ng-if="d.selected" class="label label-primary">{{d.label}}</span> 
				</td> 
			</tr> 
		</table> 
	</div> 
</div> 

<div ng-if="type=='time'||type=='dateTime'" style="position: relative" ng-show="time_showModal"> 
	<div style="position: absolute; border-color: silver; z-index: {{z}}; left: 0px; right: 0px;" ng-style="modalStyle" ng-show="time_step=='h'"> 
		<table class="table table-condensed" style="text-align: center !important; border:1px solid silver"> 
			<tr> 
				<td colspan="{{hours[0].length}}">??:00<span ng-if="timeSeconds">:00</span>
				</td> 
			</tr> 
			<tr ng-repeat="r in hours"> 
				<td ng-repeat="i in r" style="cursor:pointer" ng-click="time_select(i)">{{i}}</td> 
			</tr> 
		</table> 
	</div> 
	<div style="position: absolute; border-color: silver; z-index: {{z}}; left: 0px; right: 0px;" ng-style="modalStyle" ng-show="time_step=='m'"> 
		<table class="table table-condensed" style="text-align: center !important; border:1px solid silver"> 
			<tr> 
				<td colspan="{{minutes[0].length}}">{{time_selected.h}}:??
					<span ng-if="timeSeconds">:00</span>
				</td> 
			</tr> 
			<tr ng-repeat="r in minutes"> 
				<td ng-repeat="i in r" style="cursor:pointer" ng-click="time_select(i.v)"> 
					<span ng-if="i.k" style="color:blue">{{i.v|twoDigits}}</span> 
					<span ng-if="!i.k">{{i.v|twoDigits}}</span> 
				</td> 
			</tr> 
		</table> 
	</div> 

	<div style="position: absolute; border-color: silver; z-index: {{z}}; left: 0px; right: 0px;" ng-style="modalStyle" ng-show="time_step=='s'"> 
		<table class="table table-condensed" style="text-align: center !important; border:1px solid silver"> 
			<tr> 
				<td colspan="{{minutes[0].length}}">{{time_selected.h|twoDigits}}:{{time_selected.m|twoDigits}}:??</td> 
			</tr> 
			<tr ng-repeat="r in minutes"> 
				<td ng-repeat="i in r" style="cursor:pointer" ng-click="time_select(i.v)"> 
					<span ng-if="i.k" style="color:blue">{{i.v|twoDigits}}</span> 
					<span ng-if="!i.k">{{i.v|twoDigits}}</span> 
				</td> 
			</tr> 
		</table> 
	</div> 
</div>
<!--
	</div>
</div>
-->