<form class="form-inline">
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon" style="padding: 0px">
				<button class="btn" style="padding: 0px 1em 0px 1em" ng-click="show=true"><span class="glyphicon glyphicon-th-list"></span></button>
			</div>
			<input type="text" class="form-control" id="exampleInputAmount" placeholder="Select one" disabled="true" ng-model="model[field][labelField]" style="background-color: white">
		</div>
	</div>
</form>

<il-modal show="show" title="title" footer-visible="false" size="size">
	<table il-table 
		search="true" model="list" columns="columns" 
		class="table table-striped" items-per-page="itemsPerPage||5"
		on-click-item="onSelectItem(item)"
	></table>
</il-modal>