<form class="form-inline" >
	<div class="form-group" style="width: 100%">
		<div class="input-group" ng-click="show=true" style="width: 100%">
			<div class="input-group-addon" style="padding: 0px; width: 2.5em">
				<button class="btn" style="padding: 0px 1em 0px 1em"><span class="glyphicon glyphicon-th-list"></span></button>
			</div>
			<input type="text" class="form-control" id="exampleInputAmount" placeholder="Select one" readonly="true" ng-model="model[field][labelField]" style="background-color: white; cursor:pointer">
		</div>
	</div>
</form>

<il-modal show="show" title="title" footer-visible="false" size="modalSize">
	<table il-table 
		search="true" model="list" columns="columns" 
		class="table table-striped" items-per-page="itemsPerPage||5"
		on-click-item="onSelectItem(item)"
	></table>
</il-modal>